---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../../styles/circuits.css";
import "../../styles/global.css";
import  SpeedInsights  from "@vercel/speed-insights/astro"

import Circuit from "../components/Circuit.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <Navigation />

        <div class="title">
            <h1>F1 2024 Calendar</h1>
            <p>
                Discover the very fast circuits of Formula 1. Discover the
                circuit stats and all the trackmaps, all at your hands. Pay
                today.
            </p>
        </div>

        <div class="circuits">
            <Circuit
                name="Bahrain Grand Prix"
                country="Bahrain"
                imgPath="bahrain"
                date="2 Mar"
                round="1"
                firstGp="2004"
                cirLength="5.412"
                fLap="1:31.447"
                lapNum="57"
                driver="Pedro de la Rosa (2005)"
            />

            <Circuit
                name="Jeddah Corniche"
                country="Saudi Arabia"
                imgPath="saudi-arabia"
                date="9 Mar"
                round="2"
                firstGp="2021"
                cirLength="6.174"
                fLap="1:30.734"
                lapNum="50"
                driver="Lewis Hamliton (2021)"
            />

            <Circuit
                name="Melbourne Grand Prix"
                country="Australia"
                imgPath="australia"
                date="24 Mar"
                round="3"
                firstGp="1996"
                cirLength="5.303"
                fLap="1:19.813"
                lapNum="58"
                driver="Charles Leclerc (2024)"
            />

            <Circuit
                name="Suzuka Circuit"
                country="Japan"
                imgPath="japan"
                date="7 Apr"
                round="4"
                firstGp="1987"
                cirLength="5.807"
                fLap="1:30.983"
                lapNum="53"
                driver="Lewis Hamilton (2019)"
            />

            <Circuit
                name="Shanghai Circuit"
                country="China"
                imgPath="china"
                date="21 Apr"
                round="5"
                firstGp="2004"
                cirLength="5.451"
                fLap="1:32.238"
                lapNum="56"
                driver="Michael Schumacher (2004)"
            />

            <Circuit
                name="Miami Autodrome"
                country="United States"
                imgPath="miami"
                date="5 May"
                round="6"
                firstGp="2022"
                cirLength="5.412"
                fLap="1:29.708"
                lapNum="57"
                driver="Max Verstappen (2023)"
            />

            <Circuit
                name="Imola"
                country="Italy"
                imgPath="italy"
                date="19 May"
                round="7"
                firstGp="1980"
                cirLength="4.909"
                fLap="1:15.484"
                lapNum="63"
                driver="Lewis Hamilton (2020)"
            />

            <Circuit
                name="Circuit de Monaco"
                country="Monaco"
                imgPath="monaco"
                date="26 may"
                round="8"
                firstGp="1950"
                cirLength="3.337"
                fLap="1:12.909"
                lapNum="78"
                driver="Lewis Hamilton (2021)"
            />

            <Circuit
                name="Circuit Gilles Villeneuve"
                country="Canada"
                imgPath="canada"
                date="9 Jun"
                round="9"
                firstGp="1991"
                cirLength="4.657"
                fLap="1:13.078"
                lapNum="66"
                driver="Valtteri Bottas (2019)"
            />

            <Circuit
                name="Barcelona de Cataluyna"
                country="Spain"
                imgPath="spain"
                date="23 Jun"
                round="10"
                firstGp="1991"
                cirLength="4.657"
                fLap="1:16.330"
                lapNum="66"
                driver="Max Verstappen (2023)"
            />

            <Circuit
                name="Red Bull Ring"
                country="Austria"
                imgPath="austria"
                date="30 Jun"
                round="11"
                firstGp="1970"
                cirLength="4.318"
                fLap="1:05.619"
                lapNum="71"
                driver="Carlos Sainz (2020)"
            />

            <Circuit
                name="Silverstone Circuit"
                country="United Kingdom"
                imgPath="uk"
                date="7 Jul"
                round="12"
                firstGp="1950"
                cirLength="5.891"
                fLap="1:27.097"
                lapNum="52"
                driver="Max Verstappen (2020)"
            />

            <Circuit
                name="Hungaroring"
                country="Hungary"
                imgPath="hungary"
                date="21 Jul"
                round="13"
                firstGp="1986"
                cirLength="4.381"
                fLap="1:16.627"
                lapNum="70"
                driver="Lewis Hamilton (2020)"
            />

            <Circuit
                name="Spa-Francorchamps"
                country="Belgium"
                imgPath="belgium"
                date="28 Jul"
                round="14"
                firstGp="1950"
                cirLength="7.004"
                fLap="1:46.286"
                lapNum="44"
                driver="Valtteri Bottas (2018)"
            />

            <Circuit
                name="Circuit Zandvoort"
                country="Netherlands"
                imgPath="netherlands"
                date="25 Aug"
                round="15"
                firstGp="1952"
                cirLength="4.259"
                fLap="1:11.097"
                lapNum="72"
                driver="Lewis Hamilton (2021)"
            />

            <Circuit
                name="Monza"
                country="Italy"
                imgPath="monza"
                date="1 Sep"
                round="16"
                firstGp="1950"
                cirLength="5.793"
                fLap="1:21.046"
                lapNum="53"
                driver="Rubens Barrichello (2004)"
            />

            <Circuit
                name="Baku City Circuit"
                country="Azerbaijan"
                imgPath="azerbaijan"
                date="15 Sep"
                round="17"
                firstGp="2016"
                cirLength="6.003"
                fLap="1:43.009"
                lapNum="51"
                driver="Charles Leclerc (2019)"
            />

            <Circuit
                name="Marina Bay Street Circuit"
                country="Singapore"
                imgPath="singapore"
                date="22 Sep"
                round="18"
                firstGp="2008"
                cirLength="4.940"
                fLap="1:35.867"
                lapNum="62"
                driver="Lewis Hamilton (2023)"
            />

            <Circuit
                name="Circuit of the Americas"
                country="United States"
                imgPath="usa"
                date="20 Oct"
                round="19"
                firstGp="2012"
                cirLength="5.513"
                fLap="1:36.169"
                lapNum="56"
                driver="Charles Leclerc (2019)"
            />

            <Circuit
                name="Mexico City"
                country="Mexico"
                imgPath="mexico"
                date="27 Oct"
                round="20"
                firstGp="1963"
                cirLength="4.304"
                fLap="1:17.774"
                lapNum="71"
                driver="Valtteri Bottas (2021)"
            />

            <Circuit
                name="Interlagos"
                country="Brazil"
                imgPath="brazil"
                date="3 Nov"
                round="21"
                firstGp="1973"
                cirLength="4.309"
                fLap="1:10.540"
                lapNum="71"
                driver="Valtteri Bottas (2018)"
            />

            <Circuit
                name="Las Vegas Strip Circuit"
                country="United States"
                imgPath="vegas"
                date="24 Nov"
                round="22"
                firstGp="2023"
                cirLength="6.201"
                fLap="1:35.490"
                lapNum="50"
                driver="Oscar Piastri (2023)"
            />

            <Circuit
                name="Losail Circuit"
                country="Qatar"
                imgPath="qatar"
                date="1 Dec"
                round="23"
                firstGp="2021"
                cirLength="5.419"
                fLap="1:24.319"
                lapNum="57"
                driver="Max Verstappen (2023)"
            />

            <Circuit
                name="Yas Marina Circuit"
                country="United Arab Emirates"
                imgPath="uae"
                date="8 Dec"
                round="24"
                firstGp="2009"
                cirLength="5.281"
                fLap="1:26.103"
                lapNum="58"
                driver="Max Verstappen (2021)"
            />
        </div>

        <div class="circuits"></div>

        <Footer />

        
    </body>
</html>

<style>
    body {
        background-color: var(--bg-color);
        color: var(--font-color);
        height: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        ::-webkit-scrollbar {
            display: none;
        }
    }

    .title {
        display: inline-flex;
        flex-direction: column;
        justify-content: left;

        margin-left: 2vw;
        margin-top: 2vh;

        border-bottom: 3px;
        border-right: 3px;
        border-top: 0;
        border-left: 0;
        border-bottom-right-radius: 10px;
        border-style: solid;
        border-color: #b4b4b6;

        h1 {
            font-family: f1-turbo, f1-torque, f1-reg;
            font-size: 2.3rem;
            margin: 0;
        }
        p {
            font-family: f1-reg, f1-torque;
            font-size: 1.6rem;
            font-weight: 500;
            margin-right: 1vw;
        }
    }

    .circuits {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        row-gap: 1%;
        column-gap: 4.5%;
        margin: 2%;
        margin-bottom: 80vh;

        ::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;
        -ms-overflow-style: none;

        .item-list {
            scroll-snap-type: x mandatory;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }
        .item-list::-webkit-scrollbar {
            display: none;
        }
    }

    .theme-switch-wrapper {
        display: flex;
        align-items: center;

        em {
            margin-left: 10px;
            font-size: 1rem;
        }
    }
    .theme-switch {
        display: inline-block;
        height: 34px;
        position: relative;
        width: 60px;
    }

    .theme-switch input {
        display: none;
    }

    .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.4s;
    }

    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: 0.4s;
        width: 26px;
    }

    input:checked + .slider {
        background-color: #66bb6a;
    }

    input:checked + .slider:before {
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>

<script>
    const toggleSwitch = document.querySelector(
        '.theme-switch input[type="checkbox"]',
    );

    function switchTheme(e) {
        if (e.target.checked) {
            document.documentElement.setAttribute("data-theme", "dark");
        } else {
            document.documentElement.setAttribute("data-theme", "light");
        }
    }

    toggleSwitch.addEventListener("change", switchTheme, false);
</script>
