---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../../styles/circuits.css";
import "../../styles/global.css";
import Circuit from "../components/Circuit.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>


    <body>

        <Navigation />

        <div class="title">
            <h1>Circuits</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nobis.</p>
        </div>


        
        <div class="circuits">
            <Circuit
                name="Bahrain Grand Prix"
                country="Bahrain"
                imgPath="bahrain"
                date="2 Mar"
                round="1"
            />

            <Circuit
                name="Jeddah Corniche"
                country="Saudi Arabia"
                imgPath="saudi-arabia"
                date="9 Mar"
                round="2"
            />

            <Circuit
                name="Melbourne Grand Prix"
                country="Australia"
                imgPath="australia"
                date="24 Mar"
                round="3"
            />

            <Circuit 
                name="Suzuka Circuit"
                country="Japan"
                imgPath="japan"
                date="7 Apr"
                round="4"
            />

            <Circuit
                name="Shanghai Circuit"
                country="China"
                imgPath="china"
                date="21 Apr"
                round="5"
            />

            <Circuit
                name="Miami Autodrome"
                country="United States"
                imgPath="miami"
                date="5 May"
                round="6"
            />

            <Circuit
                name="Imola"
                country="Italy"
                imgPath="italy"
                date="19 May"
                round="7"
            />


            <Circuit
                name="Circuit de Monaco"
                country="Monaco"
                imgPath="monaco"
                date="26 may"
                round="8"
            />

            <Circuit
                name="Circuit Gilles Villeneuve"
                country="Canada"
                imgPath="canada"
                date="9 Jun"
                round="9"
            />



            <Circuit
                name="Mexico City"
                country="Mexico"
                imgPath="mexico"
                date="fasd"
                round="26"
            />
            
        </div>

        <div class="circuits"></div>

        <Footer />
    </body>
</html>

<style>
    
    body {
        background-color: rgb(240, 240, 240);
    }

    .title {

    }


    .circuits {
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        gap: 3.5%;
        margin: 2%;


        .cir {
            display: flex;
            flex-direction: column;
            padding: 3%;

            border-top-right-radius: 5%;
            border-bottom-left-radius: 5%;
            border-top: 3px;
            border-right: 3px;
            border-bottom: 0;
            border-left: 0;
            border-style: solid;

            background-color: rgb(240, 240, 240);

            /* background-image: url(../public/img/bkg.png); */

            .locations {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .text {
                    h2 {
                        margin-top: 4px;
                        margin-bottom: 4px;

                        font-size: 1.3rem;
                    }

                    .name {
                        font-size: 2rem;
                        font-family: f1-torque;
                    }
                    .country {
                        color: rgb(180, 0, 0);
                    }
                }
                img {
                    width: 70px;
                    border-color: rgba(0, 0, 0, 0.222);
                    border-width: 1px;
                    border-radius: 10px;
                    border-style: solid;
                }
            }

            .info {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 70%;

                h1 {
                    font-family: f1-torque, f1-reg;
                    margin-top: 4px;
                    margin-bottom: 4px;

                    font-size: 1.4rem;
                }

                .round {
                    font-family: f1-reg;
                    color: rgb(180, 0, 0);
                }
            }

        }
        .decor {
            width: 95%;
            height: 1px;
            background-color: rgb(154, 154, 154);
            margin-left: 2.5%;
            margin-top: 0.5%;
        }

        .circuit {
            width: 80%;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 10%;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    }
</style>
