---
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"
import "../../styles/circuits.css"
import "../../styles/global.css"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Navigation />

    <div class="title">
        <h1 class="heading">Circuits</h1>
    </div>

    <div class="circuits">
        <div class="bahrain cir">
            <div class="locations">
                <div class="text">
                    <h2 class="name">Sakhir Grand Prix </h2>
                    <h2 class="country">Bahrain</h2>
                </div>
                <img src="/img/flags/bahrain.avif" alt="">
            </div>
        </div>

        <div class="jeddah cir"></div>

        <div class="melbourne cir"></div>

        <div class="suzuka cir"></div>

        <div class="shanghai cir"></div>

        <div class="miami cir"></div>

        <div class="imola cir"></div>

        <div class="monaco cir"></div>

        <div class="montreal cir"></div>

        <div class="barcelona cir"></div>

        <div class="spielberg cir"></div>

        <div class="silverstone cir"></div>

        <div class="hungaroring cir"></div>

        <div class="spa cir"></div>

        <div class="zandvoort cir"></div>

        <div class="monza cir"></div>

        <div class="baku cir"></div>

        <div class="marina-bay cir"></div>

        <div class="austin cir"></div>

        <div class="mexico cir"></div>

        <div class="interlagos cir"></div>

        <div class="vegas cir"></div>

        <div class="lusail cir"></div>

        <div class="yas-marina cir"></div>

    </div>

    <div class="circuits"></div>

    <Footer />
    
</body>
</html>