---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../../styles/circuits.css";
import "../../styles/global.css";
import Circuit from "../components/Circuit.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>


    <body>

        <Navigation />

        <div class="title">
            <h1>F1 2024 Calendar</h1>
            <p>Discover the very fast circuits of Formula 1. Discover 
                the circuit stats and all the trackmaps, all at your hands. Pay today.</p>
        </div>


        
        <div class="circuits">
            <Circuit
                name="Bahrain Grand Prix"
                country="Bahrain"
                imgPath="bahrain"
                date="2 Mar"
                round="1"
            />

            <Circuit
                name="Jeddah Corniche"
                country="Saudi Arabia"
                imgPath="saudi-arabia"
                date="9 Mar"
                round="2"
            />

            <Circuit
                name="Melbourne Grand Prix"
                country="Australia"
                imgPath="australia"
                date="24 Mar"
                round="3"
            />

            <Circuit 
                name="Suzuka Circuit"
                country="Japan"
                imgPath="japan"
                date="7 Apr"
                round="4"
            />

            <Circuit
                name="Shanghai Circuit"
                country="China"
                imgPath="china"
                date="21 Apr"
                round="5"
            />

            <Circuit
                name="Miami Autodrome"
                country="United States"
                imgPath="miami"
                date="5 May"
                round="6"
            />

            <Circuit
                name="Imola"
                country="Italy"
                imgPath="italy"
                date="19 May"
                round="7"
            />


            <Circuit
                name="Circuit de Monaco"
                country="Monaco"
                imgPath="monaco"
                date="26 may"
                round="8"
            />

            <Circuit
                name="Circuit Gilles Villeneuve"
                country="Canada"
                imgPath="canada"
                date="9 Jun"
                round="9"
            />

            <Circuit
                name="Barcelona de Cataluyna"
                country="Spain"
                imgPath="spain"
                date="23 Jun"
                round="10"
            />

            <Circuit 
                name="Red Bull Ring"
                country="Austria"
                imgPath="austria"
                date="30 Jun"
                round="11"
            />

            <Circuit 
                name="Silverstone Circuit"
                country="United Kingdom"
                imgPath="uk"
                date="7 Jul"
                round="12"
            />

            <Circuit
                name="Hungaroring"
                country="Hungary"
                imgPath="hungary"
                date="21 Jul"
                round="13"
            />    

            <Circuit 
                name="Spa-Francorchamps"
                country="Belgium"
                imgPath="belgium"
                date="28 Jul"
                round="14"
            />

            <Circuit 
                name="Circuit Zandvoort"
                country="Netherlands"
                imgPath="netherlands"
                date="25 Aug"
                round="15"
            />

            <Circuit 
                name="Monza"
                country="Italy"
                imgPath="monza"
                date="1 Sep"
                round="16"
            />

            <Circuit 
                name="Baku City Circuit"
                country="Azerbaijan"
                imgPath="azerbaijan"
                date="15 Sep"
                round="17"
            />

            <Circuit 
                name="Marina Bay Street Circuit"
                country="Singapore"
                imgPath="singapore"
                date="22 Sep"
                round="18"
            />

            <Circuit 
                name="Circuit of the Americas"
                country="United States"
                imgPath="usa"
                date="20 Oct"
                round="19"
            />

            <Circuit
                name="Mexico City"
                country="Mexico"
                imgPath="mexico"
                date="27 Oct"
                round="20"
            />

            <Circuit 
                name="Interlagos"
                country="Brazil"
                imgPath="brazil"
                date="3 Nov"
                round="21"
            />

            <Circuit 
                name="Las Vegas Strip Circuit"
                country="United States"
                imgPath="vegas"
                date="24 Nov"
                round="22"
            />

            <Circuit 
                name="Losail Circuit"
                country="Qatar"
                imgPath="qatar"
                date="1 Dec"
                round="23"
            />

            <Circuit
                name="Yas Marina Circuit"
                country="United Arab Emirates"
                imgPath="uae"
                date="8 Dec"
                round="24"
            />

            
        </div>

        <div class="circuits"></div>

        <Footer />
    </body>
</html>

<style>
    
    body {
        background-color: rgb(240, 240, 240);
        height: auto;
    }

    .title {
        display: inline-flex;
        flex-direction: column;
        justify-content: left;

        margin-left: 2vw;
        margin-top: 2vh;

        border-bottom: 3px;
        border-right: 3px;
        border-top: 0;
        border-left: 0;
        border-bottom-right-radius: 10px;
        border-style: solid;
        border-color: #4e4e4e;

        h1 {
            font-family: f1-turbo, f1-torque, f1-reg;
            font-size: 2.3rem;
            margin: 0;
            
        }
        p {
            font-family: f1-reg, f1-torque;
            font-size: 1.6rem;
            font-weight: 500;
            margin-right: 1vw;
        }
    }


    .circuits {
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        gap: 2.5%;
        margin: 2%;
        margin-bottom: 30vh;

        .item-list {
            scroll-snap-type: x mandatory;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }
        .item-list::-webkit-scrollbar {
            display: none;
        }


        .cir {
            scroll-snap-align: center;


            display: flex;
            flex-direction: column;
            padding: 3%;
            
            width: auto;
            height: 36vh;
            
            /* overflow-x: scroll;
            scrollbar-width: none;
            overflow-y: auto; */

            border-top-right-radius: 5%;
            border-bottom-left-radius: 5%;
            border-top: 2px;
            border-right: 2px;
            border-bottom: 0;
            border-left: 0;
            border-style: solid;
            border-color: #4e4e4e;

            background-color: rgb(240, 240, 240);

            /* background-image: url(../public/img/bkg.png); */

            .locations {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .text {
                    h2 {
                        margin-top: 4px;
                        margin-bottom: 4px;

                        font-size: 1.3rem;
                    }

                    .name {
                        font-size: 2rem;
                        font-family: f1-torque;
                    }
                    .country {
                        color: rgb(180, 0, 0);
                    }
                }
                img {
                    width: 70px;
                    border-color: rgba(0, 0, 0, 0.222);
                    border-width: 2px;
                    border-radius: 10px;
                    border-style: solid;
                }
            }

            .info {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 70%;

                h1 {
                    font-family: f1-torque, f1-reg;
                    margin-top: 4px;
                    margin-bottom: 4px;

                    font-size: 1.4rem;
                }

                .round {
                    font-family: f1-reg;
                    color: rgb(180, 0, 0);
                }
            }

        }
        .decor {
            width: 95%;
            height: 1px;
            background-color: #9a9a9a;
            margin-left: 2.5%;
            margin-top: 0.5%;
        }

        .circuit {
            width: 80%;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 10%;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    }
</style>

<!-- https://medium.com/@algopoint.ltd/how-to-create-a-slideshow-carousel-using-html-css-js-7ab0561b39b3 -->