---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Team from "../components/Team.astro";
import "../../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Navigation />

    <div class="title">
      <h1>F1 2024 Teams</h1>
      <p>
        Discover all of the Formula 1 2024 Teams aswell as their standings. Also
        discover the driver info. Pay today.
      </p>
    </div>

    <div class="teams">
      <Team
        team="Red Bull Racing"
        points="307"
        url_team="red-bull"
        fname_1="Max"
        sname_1="Verstappen"
        fname_2="Sergio"
        sname_2="Perez"
        country1="Netherlands"
        podiums1="103"
        points1="285"
        gp1="197"
        dob1="1997"
        country2="Mexico"
        podiums2="21"
        points2="56"
        gp2="12"
        dob2="1990"
        driverurl1="max"
        driverurl2="sergio"
      />

      <Team
        team="Ferrari"
        points="302"
        url_team="ferrari"
        fname_1="Charles"
        sname_1="Leclerc"
        fname_2="Carlos"
        sname_2="Sainz"
        country1="Italy"
        podiums1="67"
        points1="247"
        gp1="223"
        dob1="1999"
        country2="Mexico"
        podiums2="23"
        points2="59"
        gp2="9"
        dob2="1992"
        driverurl1="charles"
        driverurl2="carlos"
      />
    </div>

    <div class="teams">
      <Team
        team="Mclaren"
        points="295"
        url_team="mclaren"
        fname_1="Lando"
        sname_1="Norris"
        fname_2="Oscar"
        sname_2="Piastri"
        country1="United Kingdom"
        podiums1="47"
        points1="208"
        gp1="128"
        dob1="2001"
        country2="Australia"
        podiums2="7"
        points2="87"
        gp2="3"
        dob2="2000"
        driverurl1="lando"
        driverurl2="oscar"
      />

      <Team
        team="Mercedes"
        points="221"
        url_team="mercedes"
        fname_1="Lewis"
        sname_1="Hamilton"
        fname_2="George"
        sname_2="Russell"
        country1="United Kingdom"
        podiums1="84"
        points1="151"
        gp1="128"
        dob1="2001"
        country2="Australia"
        podiums2="5"
        points2="70"
        gp2="4"
        dob2="2000"
        driverurl1="lewis"
        driverurl2="george"
      />
    </div>

    <div class="teams">
      <Team
        team="Aston Martin"
        points="68"
        url_team="aston-martin"
        fname_1="Fernando"
        sname_1="Alonso"
        fname_2="Lance"
        sname_2="Stroll"
        country1="Spain"
        podiums1="24"
        points1="40"
        gp1="129"
        dob1="1987"
        country2="Australia"
        podiums2="6"
        points2="28"
        gp2="10"
        dob2="2000"
        driverurl1="fernando"
        driverurl2="lance"
      />

      <Team
        team="RB"
        points="31"
        url_team="rb"
        fname_1="Yuki"
        sname_1="Tsunoda"
        fname_2="Daniel"
        sname_2="Ricciardo"
        country1="Japan"
        podiums1="2"
        points1="15"
        gp1="90"
        dob1="2000"
        country2="Australia"
        podiums2="9"
        points2="16"
        gp2="54"
        dob2="1985"
        driverurl1="yuki"
        driverurl2="daniel"
      />
      
    </div>


    <div class="teams">
      <Team
        team="Haas"
        points="27"
        url_team="haas"
        fname_1="Nico"
        sname_1="Hulkenburg"
        fname_2="Kevin"
        sname_2="Magnussen"
        country1="Germany"
        podiums1="2"
        points1="15"
        gp1="177"
        dob1="1987"
        country2="Norway"
        podiums2="1"
        points2="12"
        gp2="120"
        dob2="2000"
        driverurl1="nico"
        driverurl2="kevin"
      />

      <Team
        team="Alpine"
        points="9"
        url_team="alpine"
        fname_1="Pierre"
        sname_1="Gasly"
        fname_2="Esteban"
        sname_2="Ocon"
        country1="France"
        podiums1="0"
        points1="4"
        gp1="90"
        dob1="2000"
        country2="France"
        podiums2="0"
        points2="0"
        gp2="88"
        dob2="1985"
        driverurl1="pierre"
        driverurl2="esteban"
      />
      
    </div>


    <div class="teams">
      <Team
        team="Williams"
        points="4"
        url_team="williams"
        fname_1="Alexander"
        sname_1="Albon"
        fname_2="Logan"
        sname_2="Seargent"
        country1="Thailand"
        podiums1="2"
        points1="15"
        gp1="177"
        dob1="1987"
        country2="US"
        podiums2="1"
        points2="12"
        gp2="120"
        dob2="2000"
        driverurl1="alexander"
        driverurl2="logan"
      />

      <Team
        team="Kick Sauber"
        points="0"
        url_team="kick-sauber"
        fname_1="Valtteri"
        sname_1="Bottas"
        fname_2="Zhou"
        sname_2="Guanyu"
        country1="Finland"
        podiums1="0"
        points1="0"
        gp1="90"
        dob1="2000"
        country2="China"
        podiums2="0"
        points2="0"
        gp2="88"
        dob2="1985"
        driverurl1="valtteri"
        driverurl2="zhou"
      />
      
    </div>

  </body>

  <Footer />
</html>

<style>

  body {
    background-color: var(--bg-color);
  }

  .title {
    display: inline-flex;
    flex-direction: column;
    justify-content: left;

    margin-left: 1vw;
    margin-top: 2vh;

    border-bottom: 3px;
    border-right: 3px;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: #b4b4b6;

    h1 {
      font-family: f1-turbo, f1-torque, f1-reg;
      font-size: 2.3rem;
      margin: 0;
      color: var(--font-color);
    }
    p {
      font-family: f1-reg, f1-torque;
      font-size: 1.6rem;
      font-weight: 500;
      margin-right: 1vw;
      color: var(--font-color);
    }
  }

  .teams {
    display: flex;
    justify-content: center;
    gap: 3vw;

    margin: 1vw;
  }
</style>

<script>
  const toggleSwitch = document.querySelector(
      '.theme-switch input[type="checkbox"]',
  );

  function switchTheme(e) {
      if (e.target.checked) {
          document.documentElement.setAttribute("data-theme", "dark");
      } else {
          document.documentElement.setAttribute("data-theme", "light");
      }
  }

  toggleSwitch.addEventListener("change", switchTheme, false);
</script>
