---
---

<footer>
    <h1>Our Partners:</h1>
    <div class="logos">
        <img src="images/logos/aramco.avif" alt="">
        <img src="images/logos/AWS GLOBAL.avif" alt="">
        <img src="images/logos/crypto.com.avif" alt="">
        <img src="images/logos/dhl.avif" alt="">
        <img src="images/logos/Heineken - Outlined.avif" alt="">
        <img src="images/logos/pirelli.avif" alt="">
        <img src="images/logos/quatar.avif" alt="">
        <img src="images/logos/rolex.avif" alt="">
    </div>
</footer>


<style>
    footer {
        display: flex;
        justify-content: center;
        margin: 0;

        background-color: rgba(10, 10, 10, 1);

        h1 {
            color: white;
            font-family: f1-torque;
        }

    }
</style>