---
---

<footer>
    <h1>Our Partners:</h1>
    <div class="decor"></div>
    <div class="logos">
        <img src="../../resources/img/logos/aramco.avif" alt="">
        <img src="../../resources/img/logos/AWS GLOBAL.avif" alt="">
        <img src="../../resources/img/logos/crypto.com.avif" alt="">
        <img src="../../resources/img/logos/dhl.avif" alt="">
        <img src="../../resources/img/logos/Heineken - Outlined.avif" alt="">
        <img src="../../resources/img/logos/pirelli.avif" alt="">
        <img src="../../resources/img/logos/quatar.avif" alt="">
        <img src="../../resources/img/logos/rolex.avif" alt="">
    </div>
</footer>


<style>
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        

        background-color: rgba(20, 20, 20, 1);

        padding: 2rem;
        margin-top: 2rem;

        h1 {
            color: white;
            font-family: f1-torque;
            font-size: 2rem;
        }

        .decor {
            width: 80%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.5);
        }

        .logos {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-top: 0rem;

            img {
                height: 8vh;
            }
        }

    }
</style>