---

---

<header>
    <img src="/img/f1.png" alt="">
    <div class="text">
        <h1>Teams</h1>
        <h1>Circuits</h1>
    </div>
</header>


<style>
    header {
        display: flex;

        background-color: #b40000;

        gap: 70vw;

        img {
            height: 8vh;
            margin-left: 1rem;
        }
        .text {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 8rem;

            font-size: 1.2rem;
            font-family: f1-reg;
            color: white;
        }

    }
</style>