---

---

<header>
    <img src="/img/f1.png" alt="" />
    <div class="text">
        <a href="/home/user/abcdefg/src/pages/teams.astro">Teams</a>
        <a href="/home/user/abcdefg/src/pages/circuits.astro">Circuits</a>
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <!-- <img src="public/img/moon-svgrepo-com.svg" alt=""> -->
                <input type="checkbox" id="checkbox" />
                <div class="slider round">
                    <p>Dark/light</p>
                </div>
            </label>
            <!-- <em>Enable Dark Mode!</em> -->
        </div>
    </div>
</header>

<style>
    header {

        /* label {
            img {
                width: 35px;
                
            }
            #checkbox {
                display: hidden;
            }
        } */

        display: flex;

        background-color: #b40000;

        gap: 65vw;

        img {
            height: 8vh;
            margin-left: 1rem;
        }
        .text {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 8rem;

            font-size: 1.2rem;
            font-family: f1-reg;
            color: white;

            a {
                text-decoration: none;
                color: white;
                font-size: 2rem;
            }
        }

        .theme-switch-wrapper {
        }
    }
</style>
