@font-face {
  font-family: jetBrains;
  src: url(/fonts/JetBrainsMono-Medium.woff2);
}
@font-face {
  font-family: f1-reg;
  src: url(/fonts/Formula1\ Display\ Regular.ttf);
}
@font-face {
  font-family: f1-torque;
  src: url(/fonts/Formula1-Torque.otf);
}
@font-face {
    font-family: f1-turbo;
    src: url(/fonts/f1-turbo.otf);
}
@font-face {
  font-family: f1-bold;
  src: url(/fonts/Formula1-Bold.ttf);
}

html {
  font-size: 62.5%;
  margin: 0;
}

body {
  margin: 0;
  font-family: jetBrains, "Courier New", Courier, monospace;
}


